/*Contact Form*/

.contact_form {
    display: flex;
    justify-content: flex-end; 
    padding: 20px; 
  }
  
  .text_container {
    max-width: 80%; 
    margin-right: 10px; 
    margin-top: 80px;
    font-size: larger;
  }
  
  .text_container h1 {
    margin-bottom: 20px;
  }
  
  .text_container p{
    font-size: large;
  }
  
  .form_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
    margin-right: 80px;
    text-align: left; 
  }
  
  form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
  }
  
  form h1{
    color: #808080;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  form input, form textarea{
    border: 1px solid #808080; 
    margin: 10px 0;
    padding: 20px;
    outline-color: #808080;
    font-family: "Raleway", sans-serif;
  }
  
  form button{
    padding: 15px;
    border: 2px solid #3B719F; 
    font-size: 18px;
    font-family: "Raleway", sans-serif;
  }

  .send_button {
    background-color: gray; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.send_button:hover {
    background-color: #45a049; 
}

/* phone email and location on contact page */
.contact-details {
  text-align: left;
  width: 100%;
}

.contact-details h6 {
  margin: 0;
  padding: 0;
}

.contact-item img.icon,
.contact-item-2 img.icon,
.contact-item-3 img.icon{
    width: 24px; 
    height: 24px; 
}

.contact-item,
.contact-item-2,
.contact-item-3 {
    display:flex; 
    align-items: center;
    gap: 12px;
    padding: 5px;
}

/* map styling */
iframe{
  padding: 15px;
}

/* phone view mode */
@media (max-width: 768px) {
  .contact_form {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center items vertically */
  }
  .text_container,
  .form_container {
    width: 100%; /* Full width on smaller screens */
    max-width: none; 
    margin-right: 0; 
    margin-top: 20px; 
    text-align: center; /* Center align text and form on smaller screens */
  }

  .text_container h1 {
    padding-top: 60px; /* Ensure no top margin for the title */
  }

  .contact-item,
  .contact-item-2,
  .contact-item-3 {
    justify-content: center; 
  }

  .text_container p{
    margin-bottom: 0px;
  }

}