*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .image-container {
    margin-top: 30px;
      overflow-y: auto;
      overflow-x: hidden;
      perspective: 10px;
      display: grid;
      place-items: center;
      margin-bottom: 100px;
    }
  
    .banner{
      width: 1200px;
      height: 450px;
      opacity: 0.4;
      /* position:relative; */
      top: 30px;
      object-fit: cover;
    }
  
    /* Style the overlay-text */
    .overlay-text {
      position: absolute;
      top: 50%; /* Adjust this value to vertically center the text */
      left: 50%; /* Adjust this value to horizontally center the text */
      transform: translate(-50%, -50%); 
      color: black; 
      padding: 10px 20px; 
      font-size: 50px; 
      text-align: center; 
      font-weight: bolder;
    }
  
    .text{
      text-align: center;
      margin-bottom: 10px;
      object-fit: cover;
    }

    p{
        font-size: larger;
        text-align: center;
        font-weight: 200;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .bullet-lists-container {
        display: flex;
        justify-content: center; 
        margin-bottom: 40px;
    }
    
    .bullet-points {
        list-style-type: circle; /* Change disc to other values for different bullet styles */
        text-align: center;
        margin-top: 20px;
        margin-right: 20px; /* Adjust the right margin to control the space between the lists */
        margin-left: 20px;
    }
    
    .bullet-points li {
        font-size: large;
        margin-bottom: 15px;
    }

    h3{
      text-align: center;
      margin-bottom: 5px;
      margin-top: 5px;
  }



 